.navbar {
    background-color: #333;
  }
  
  .drawer {
    width: 250px;
    background-color: #222;
  }
  
  .drawer-item {
    color: #fff;
  }
  
  .drawer-subitem {
    color: #ccc;
  }

  .navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  
  .AppBar {
    background-color: #003580; /* Booking.com's blue color */
  }
  
  .IconButton {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .IconButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .caption {
    display: block;
    margin-top: 5px;
  }

    /* Adjust the width, color, and other properties to your liking */
  .drawer-header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #1976d2; /* Adjust the background color */
    color: white; /* This will ensure text is visible */
  }

  .drawer-footer {
    position: 'absolute';
    bottom: 0;
    width: '100%';
    padding: '10px 16px';
    background-color: #222; /* Ensure the footer has a distinct background */
    color: white; /* This will ensure text is visible */
    text-align: center;
  }

  .MuiDrawer-paper {
    background-color: #f4f4f4; /* Light grey background for the drawer */
  }

  /* Style for the list items in the drawer */
  .drawer-item {
    color: #333; /* Darker text for better contrast on light grey background */
  }

  /* Style for the sub-items in the collapse section */
  .drawer-subitem {
    color: #555; /* Slightly lighter text for sub-items */
  }

  /* Hover effects for list items */
  .drawer-item:hover, .drawer-subitem:hover {
    background-color: #e3f2fd; /* Light blue background on hover */
  }

  /* Active state styling can also be added if needed */

    
    /* Add any other custom styles as needed */
    
    
    

